@charset "UTF-8"; 
*{
    padding:0;
    margin: 0;
}
:root {
    --titulo: #292d8a;
    --corfundo:#fac80077; 
    --corbuttom: #8cecec;
}
#titulo{
    font: normal bolder 4em 'work sans';
    text-align: center;
    padding-bottom: 20px;
    padding: 25px;
}
#subtitulo{
    font: normal bolder 25px 'work sans';
    padding-bottom: 1em;
    text-align: center;
}
body{
    background-color:var(--corfundo);
    color: var(--titulo);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.226);
    font: normal lighter 1.2em 'work sans';
    justify-content: center;
}
h2 {
    padding-bottom: 20px;
}
form {
    margin-top: 2%;
    margin-left: 36%;
}
input, select, textarea, button{
    border-radius: 3px;
}
fieldset{
    border: 0;
    columns: auto;
    max-width: 400px;
}
fieldset.grupo .divcampo {
    float: left;
    margin-right: 1em;
}
.divcampo label{
    margin-bottom: 0.3em;
    display: block;
}
.divcampo {
    margin-bottom: 1em;
}
.divcampo select option{
    padding-right: 1em;
}
.divcampo input[type="text"], .divcampo input[type="email"], .divcampo input[type="tel"] , .divcampo select, .divcampo textarea{
    padding: 0.2em;
    border: 1px solid var(--titulo);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.192);
    display: block;
}
.divcampo input:focus , .campo select:focus, .campo textarea:focus {
    background-color: rgb(255, 255, 255);
}
#check {
    display:inline;
}
textarea{
    max-width: 80%
}
.botao {
    background-color: var(--corbuttom);
    border:0;
    border-radius: 3px;
    margin-bottom: 1em;
    font-size: 1.2em;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    padding: 0.2em 0.6em;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.431);
    position: relative;
    transition: 0.1s;
}
:active .botao {
    top: 3px;
    background-color:var(--corbuttom);
    box-shadow: 3px 3px 2px var(--corbuttom);
}
