@charset "UTF-8"; 
*{
    padding:0;
    margin: 0;
}
#titulo{
    font: normal bolder 4em 'work sans';
}
#subtitulo{
    font: normal bolder 25px 'work sans';
    padding-bottom: 2em;
    text-align: justify;
}
body{
    background-color: rgb(79, 167, 79);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 6px black;
    margin-top: 2%;
    margin-left: 36%;
    font: normal lighter 1.2em 'work sans';
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 3px;
}
fieldset{
    border: 0;
}
fieldset.grupo .divcampo {
    float: left;
    margin-right: 1em;
}
.divcampo label{
    margin-bottom: 0.3em;
    display: block;
}
.divcampo {
    margin-bottom: 1em;
}
.divcampo select option{
    padding-right: 1em;
}
.divcampo input[type="text"], .divcampo input[type="email"], .divcampo select, .divcampo textarea{
    padding: 0.2em;
    border: 1px solid rgb(4, 85, 4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.192);
    display: block;
}
.divcampo input:focus , .campo select:focus, .campo textarea:focus {
    background-color: rgb(223, 248, 212);
}
#check {
    display: inline-block;
    
}
.botao {
    background-color: rgb(102, 223, 102);
    border: 0;
    margin-bottom: 1em;
    font-size: 1.2em;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.376);
    position: relative;
}
